body{
    color: $black;
    font-family: $font_principal;
    *{
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}
h1{
    // letter-spacing: 2px;
    font-family: $font_titles;
}
a{
    color: $main-color;
}
.site__content{
    &>.section{
        padding-top: 25px;
    }
    // a{
    //     color: $black;
    // }   
}

.columns.noPaddingTop{
    .column{
        padding-top: 0;
    }
}
.pointer_none{
    pointer-events: none;
}


hr.black{
    background-color: $black;
}

.navbar-burger{
    color: $main-color;
    &:hover {
        color: $main-color;
    }
}

@media (max-width: 768px) {
    .container{
        overflow: hidden;
        // overflow-y: auto;
        // overflow-x: hidden;
    }
    .mobile_full_width{
        width: 100%;   
    }
    .mobile_margin_top_20{
        margin-top: 20px;
    }
    .mobile_margin_top_10{
        margin-top: 10px;
    }
    .mobile_helper{
        padding: 0 20px;
    }
    .breadcrumb{
        margin-top: 10px;
        ul{
            flex-wrap: nowrap;
            li{
                flex-wrap: nowrap;
                a{
                    padding: 0 .30em;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}

.ql-toolbar .ql-formats .ql-image {
    display: none;
  }

// .hr_mobile{
//     margin: 5px 0 20px;
// }
