.select:not(.is-multiple):not(.is-loading)::after{
    border-color: $black;
}
.button{
    border-radius: 0;
}
.button.is-warning{
    background: $main-color;
    color: $black;
}

.navbar-item.has-dropdown.is-active .navbar-link, .navbar-item.has-dropdown:focus .navbar-link, .navbar-item.has-dropdown:hover .navbar-link{
    background: $black;
}

.navbar-link:not(.is-arrowless)::after{
    border-color: $main-color;
}
.section{
    padding: 40px 1.5rem;
}