@import url("https://fonts.googleapis.com/css?family=Quicksand:700|Roboto&display=swap");
.select:not(.is-multiple):not(.is-loading)::after {
  border-color: #0b122f;
}

.button {
  border-radius: 0;
}

.button.is-warning {
  background: #ffe200;
  color: #0b122f;
}

.navbar-item.has-dropdown.is-active .navbar-link, .navbar-item.has-dropdown:focus .navbar-link, .navbar-item.has-dropdown:hover .navbar-link {
  background: #0b122f;
}

.navbar-link:not(.is-arrowless)::after {
  border-color: #ffe200;
}

.section {
  padding: 40px 1.5rem;
}

body {
  color: #0b122f;
  font-family: "Roboto", sans-serif;
}

body * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "Quicksand", cursive;
}

a {
  color: #ffe200;
}

.site__content > .section {
  padding-top: 25px;
}

.columns.noPaddingTop .column {
  padding-top: 0;
}

.pointer_none {
  pointer-events: none;
}

hr.black {
  background-color: #0b122f;
}

.navbar-burger {
  color: #ffe200;
}

.navbar-burger:hover {
  color: #ffe200;
}

@media (max-width: 768px) {
  .container {
    overflow: hidden;
  }
  .mobile_full_width {
    width: 100%;
  }
  .mobile_margin_top_20 {
    margin-top: 20px;
  }
  .mobile_margin_top_10 {
    margin-top: 10px;
  }
  .mobile_helper {
    padding: 0 20px;
  }
  .breadcrumb {
    margin-top: 10px;
  }
  .breadcrumb ul {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .breadcrumb ul li {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .breadcrumb ul li a {
    padding: 0 .30em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.ql-toolbar .ql-formats .ql-image {
  display: none;
}

.header__fix {
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  position: fixed;
  background: #0b122f;
  border-bottom: 1px solid #777;
}

.header__fix > .level {
  height: 100%;
}

.header__fix > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__fix__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
}

@media (max-width: 768px) {
  .header__fix__left {
    height: 60px;
  }
  .header__fix__left .level-item {
    margin-bottom: 0;
  }
}

.header__fix__left p {
  margin-right: 15px;
  display: inline-block;
  vertical-align: middle;
}

.header__fix__left p:first-of-type {
  margin-right: 30px;
}

@media (max-width: 768px) {
  .header__fix__left p:first-of-type {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.header__fix__left p.logo img {
  max-height: 40px;
  display: block;
}

@media (max-width: 768px) {
  .header__fix__left p.logo img {
    max-height: 30px;
  }
}

.header__fix__left p a {
  color: #fff;
  position: relative;
}

.header__fix__left p a.router-link-active {
  color: #ffe200;
}

.header__fix__left p a.router-link-active span:before {
  content: '';
  left: 50%;
  width: 10px;
  height: 2px;
  bottom: -5px;
  position: absolute;
  background: #ffe200;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header__fix__right .navbar-link {
  color: #ffe200;
}

.header__fix__right .navbar-dropdown .navbar-item, .header__fix__right .navbar-dropdown .navbar-item a {
  color: #0b122f;
}

.header__fix__right .mobile_abolute {
  left: 0;
  right: 0;
  position: fixed;
  background: #FFF;
  top: 60px;
}

.header__fix__right .navbar-item.special {
  padding: 0;
}

.header__fix__right .navbar-item.special a {
  display: block;
  padding: .5rem .75rem;
}

.header__space {
  width: 100%;
  height: 70px;
}

@media (max-width: 768px) {
  .header__space {
    height: 60px;
  }
}

.footer {
  width: 100%;
  color: #fff;
  padding: 50px 0;
  margin-top: 40px;
  background: #0b122f;
  border-top: 2px solid #ffe200;
}

.flyer {
  width: 100%;
  position: relative;
  padding-bottom: 150%;
  background: center center no-repeat #0b122f;
  background-size: contain;
}

.flyer > a {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  display: block;
  position: absolute;
}

.flyer__plaza {
  top: 15px;
  left: 15px;
  position: absolute;
}

.flyer__plaza i {
  padding: 5px;
  color: #0b122f;
  background: #fff;
  border-radius: 5px;
}

.flyer__content {
  z-index: 2;
  left: 15px;
  right: 15px;
  bottom: 20px;
  position: absolute;
}

.flyer__content h5 {
  line-height: 110%;
  margin-bottom: 10px;
}

.flyer__content__description {
  width: 100%;
  display: block;
  overflow: hidden;
  max-height: 43px;
}

.flyer__content__description a > {
  position: static;
  display: inline;
}

.flyer__content__description img {
  width: auto !important;
  display: inline !important;
}

.flyer__content__description * {
  color: #FFF !important;
}

@media (max-width: 768px) {
  .flyer__content__description * {
    color: #000 !important;
  }
  .flyer__content__description * br {
    display: none;
  }
}

.flyer__content__date {
  top: 15px;
  right: 15px;
  padding: 0 10px;
  background: #000;
  position: absolute;
  font-family: "Quicksand", cursive;
  text-transform: capitalize;
}

.flyer__content__metadata {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #777;
}

.flyer__content__metadata div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 5px;
  text-align: center;
  border-right: 1px solid #777;
}

.flyer__content__metadata div:last-of-type {
  border-right: 0px solid #777;
}

.flyer__content__mobile_image {
  display: none;
}

@media (max-width: 768px) {
  .flyer__content__mobile_image {
    display: block;
    margin-bottom: 15px;
  }
}

.flyer__content h5 {
  font-size: 30px;
}

.flyer:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, black));
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(black));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

.flyer.onlyFlyer a {
  pointer-events: none;
}

.flyer.onlyFlyer a .flyer__content__date, .flyer.onlyFlyer a .flyer__content {
  display: none;
}

.flyer.onlyFlyer:before {
  display: none;
}

@media (max-width: 768px) {
  .flyer:not(.slider) {
    padding: 0;
    background: none !important;
  }
  .flyer:not(.slider) a {
    position: static;
  }
  .flyer:not(.slider) .flyer__content__date, .flyer:not(.slider) .flyer__content {
    color: #0b122f;
    padding: 0 20px;
    position: static;
  }
  .flyer:not(.slider) .flyer__content__date {
    text-shadow: none;
    background: none;
  }
  .flyer:not(.slider):before {
    display: none;
  }
}

.flyer__full_width_text {
  width: 100%;
  margin-top: 20px;
}

.flyer__full_width_text p {
  opacity: 0.8;
  font-size: 3rem;
  padding: 0 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .flyer__full_width_text p {
    font-size: 2rem;
    line-height: 120%;
  }
}

@media (max-width: 768px) {
  .single__flyer {
    margin-bottom: 20px;
  }
}

.flyers__title {
  font-family: "Quicksand", cursive;
}

.flyers__filter > span {
  color: #0b122f;
  font-weight: 700;
  margin-right: 5px;
}

.flyers__filter > span, .flyers__filter > .select {
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 768px) {
  .flyers__filter {
    text-align: center !important;
  }
}

.event {
  position: relative;
}

.event__image {
  top: 0;
  overflow: auto;
  padding-top: 0;
  padding-bottom: 0;
}

.event__content {
  padding-top: 0;
}

.event__content h1.title {
  margin-bottom: 20px;
  display: block;
}

.event__content .description {
  display: block;
  max-width: 100%;
  white-space: pre-wrap;
}

.event__content .address {
  width: 100%;
  display: block;
  margin-top: 20px;
}

.event__content__top_four {
  margin: 15px 0;
  padding: 10px 15px;
  background: #ffee66;
}

.event__content__top_four hr {
  border: 0;
  height: 1px;
  width: 100%;
  margin: 10px 0;
  background: #0b122f;
}

.event__content__metadata {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.event__content__metadata__element {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
  border: 1px solid #000;
  border-right: 0;
}

.event__content__metadata__element:last-of-type {
  border-right: 1px solid #000;
}

.event__content__age {
  margin-top: 20px;
}

.event__content__footer {
  margin-top: 20px;
}

.event__content__footer .message-body {
  border-radius: 0;
  border-color: #0b122f;
  color: #0b122f;
}

.event__content__footer .message-body p {
  margin-bottom: 15px;
}

.event__content__footer .message-body p:last-of-type {
  margin-bottom: 0;
}

.event__content__cta {
  margin: 20px 0 0;
}

.event__content__cta__shop {
  margin-bottom: 20px;
}

.event__content__cta__shop a {
  width: 100%;
  display: block;
}

.event__content__cta__grid {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 410px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.event__content__cta__grid > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.event__content__cta__grid > span svg {
  margin-right: 2px;
}

.events_hero__title {
  font-size: 2rem;
  text-align: center;
}

.events_hero__carousel {
  width: 100%;
  display: block;
}

.events_hero__carousel .owl-stage {
  background: black;
}

.events_hero__carousel__card {
  width: 100%;
  display: block;
}

.events_hero__carousel__card .flyer {
  height: 450px;
  padding-bottom: 0;
  background-size: cover;
}

.events_hero__carousel__card .flyer .flyer__content__metadata {
  display: none;
}

.event__comments {
  width: 100%;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 2px solid #0b122f;
}

.event__comments__list {
  margin-top: 25px;
}

.event__comments__list__single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
  padding: 11px 10px 9px 14px;
  border: 1px solid #f1f1f1;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
}

.event__comments__list__single__user {
  width: 75px;
}

.event__comments__list__single__user__wrapper {
  width: 100%;
}

.event__comments__list__single__user__wrapper__avatar {
  width: 70px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
  padding-bottom: 70px;
  background: center center no-repeat;
  background-size: cover;
}

.event__comments__list__single__user__wrapper__avatar.letter {
  position: relative;
  text-align: center;
  background: #eaeaea;
}

.event__comments__list__single__user__wrapper__avatar.letter p {
  top: 50%;
  left: 50%;
  margin: 0;
  font-size: 40px;
  margin-top: -5%;
  font-weight: bold;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.event__comments__list__single__user__wrapper__username {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.event__comments__list__single__comment {
  margin-left: 20px;
}

.event__comments__list__single:nth-of-type(2n) {
  background: #fbfbfb;
}

.new__carousel {
  margin-top: 20px;
}

.new__carousel__list {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: #000;
}

.new__carousel__list__image img {
  height: 400px;
  display: block;
  width: auto !important;
}

@media (max-width: 768px) {
  .new__carousel__list__image img {
    height: auto;
  }
}

.new__carousel__list__content {
  left: 30px;
  right: 30px;
  z-index: 3;
  bottom: 20px;
  color: #FFF;
  position: absolute;
}

.new__carousel__list__content h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  font-family: "Quicksand", cursive;
}

.new__carousel__list:before {
  z-index: 2;
  content: '';
  left: 0;
  right: 0;
  bottom: 0;
  height: 50%;
  position: absolute;
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(black));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, black 100%);
}

.news__single__wrapper {
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
  margin: 20px auto 0;
}

.news__single__wrapper img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.news__single__content {
  margin-top: 20px;
}

.news__single__share {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #0b122f;
}

.leagues table {
  width: 100%;
}

.leagues table tr td:last-of-type {
  text-align: right;
}

.leagues table tr:nth-of-type(2n) {
  background: #f9f9f9;
}

.leagues table tr:hover {
  background: #f4ffff;
}

.section__container {
  overflow: hidden;
  margin-top: 20px;
}

.button.is-primary {
  background-color: #ffe200;
}

.hero .hero-body {
  position: relative;
}

.hero .hero-body .title small {
  font-size: 30%;
  margin-left: -1%;
}

.hero .hero-body.is-warning {
  background: #ffe200;
}

.hero .hero-body.is-warning a {
  color: #FFF;
}

.hero .hero-body .container h1 {
  font-size: 4rem;
}

@media (max-width: 768px) {
  .hero .hero-body .container h1 {
    font-size: 2.5rem;
    line-height: 125%;
  }
}

.hero .hero-body .container h1, .hero .hero-body .container h2, .hero .hero-body .container p {
  color: #0b122f !important;
}

.hero .hero-body .create_new {
  top: 0;
  right: 0;
  position: absolute;
}

.hero .hero-body .create_new span {
  margin-right: 7px;
}

@media (max-width: 768px) {
  .hero .hero-body .create_new {
    position: static;
    margin-top: 10px;
  }
}

.vdp-datepicker input {
  -webkit-appearance: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(.375em - 1px);
  padding-left: calc(.625em - 1px);
  padding-right: calc(.625em - 1px);
  padding-top: calc(.375em - 1px);
  position: relative;
  vertical-align: top;
  background-color: #fff;
  border-color: #dbdbdb;
  border-radius: 4px;
  color: #363636;
  -webkit-box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
          box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  max-width: 100%;
  width: 100%;
}

.address_suggestions {
  padding-top: 5px;
}

.address_suggestions li {
  cursor: pointer;
}

.address_suggestions li:nth-of-type(2n) {
  background-color: #f5f5f5;
}

.address_suggestions li span {
  background: #ffe200;
}
/*# sourceMappingURL=main.css.map */