@import url("https://fonts.googleapis.com/css?family=Montserrat:500,900|Roboto&display=swap");
.select:not(.is-multiple):not(.is-loading)::after {
  border-color: #0b122f;
}

.button {
  border-radius: 0;
}

.button.is-warning {
  background: #ffe200;
  color: #0b122f;
}

body {
  color: #0b122f;
  font-family: "Roboto", sans-serif;
}

body * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  letter-spacing: 2px;
  font-family: "Montserrat", cursive;
}

a {
  color: #ffe200;
}

.site__content > .section {
  padding-top: 25px;
}

.columns.noPaddingTop .column {
  padding-top: 0;
}

.pointer_none {
  pointer-events: none;
}

.header__fix {
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  position: fixed;
  background: #0b122f;
  border-bottom: 1px solid #777;
}

.header__fix > .level {
  height: 100%;
}

.header__fix > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__fix__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
}

.header__fix__left p {
  margin-right: 15px;
  display: inline-block;
  vertical-align: middle;
}

.header__fix__left p:first-of-type {
  margin-right: 30px;
}

.header__fix__left p.logo img {
  max-height: 40px;
  display: block;
}

.header__fix__left p a {
  color: #fff;
  position: relative;
}

.header__fix__left p a.router-link-active {
  color: #ffe200;
}

.header__fix__left p a.router-link-active span:before {
  content: '';
  left: 50%;
  width: 10px;
  height: 2px;
  bottom: -5px;
  position: absolute;
  background: #ffe200;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header__fix__right a {
  color: #ffe200;
}

.header__space {
  width: 100%;
  height: 70px;
}

.footer {
  width: 100%;
  color: #fff;
  padding: 50px 0;
  margin-top: 40px;
  background: #0b122f;
  border-top: 2px solid #ffe200;
}

.flyer {
  width: 100%;
  position: relative;
  padding-bottom: 150%;
  background: center center no-repeat #0b122f;
  background-size: contain;
}

.flyer a {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  display: block;
  position: absolute;
}

.flyer__content {
  z-index: 2;
  left: 15px;
  right: 15px;
  bottom: 20px;
  position: absolute;
}

.flyer__content h5 {
  line-height: 110%;
  margin-bottom: 10px;
}

.flyer__content__description {
  width: 100%;
  display: block;
  overflow: hidden;
  max-height: 70px;
}

.flyer__content__date {
  top: 15px;
  right: 15px;
  position: absolute;
  font-family: "Montserrat", cursive;
  text-transform: capitalize;
  text-shadow: 0 0 5px black;
}

.flyer__content__metadata {
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border: 1px solid #777;
}

.flyer__content__metadata div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 5px;
  text-align: center;
  border-right: 1px solid #777;
}

.flyer__content__metadata div:last-of-type {
  border-right: 0px solid #777;
}

.flyer__content h5 {
  font-size: 30px;
}

.flyer:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, black));
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(black));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

.flyer.onlyFlyer a {
  pointer-events: none;
}

.flyer.onlyFlyer a .flyer__content__date, .flyer.onlyFlyer a .flyer__content {
  display: none;
}

.flyer.onlyFlyer:before {
  display: none;
}

@media (max-width: 768px) {
  .flyer {
    background: none !important;
    padding: 0 10px;
  }
  .flyer a {
    position: static;
  }
  .flyer .flyer__content__date, .flyer .flyer__content {
    color: #0b122f;
    position: static;
  }
  .flyer .flyer__content__date {
    text-shadow: none;
  }
  .flyer:before {
    display: none;
  }
}

.flyer__full_width_text {
  width: 100%;
  margin-top: 20px;
}

.flyer__full_width_text p {
  opacity: 0.8;
  font-size: 3rem;
  padding: 0 20px;
  text-align: center;
}

.flyers__title {
  font-family: "Montserrat", cursive;
}

.flyers__filter > span {
  color: #0b122f;
  font-weight: 700;
  margin-right: 5px;
}

.flyers__filter > span, .flyers__filter > .select {
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 768px) {
  .flyers__filter {
    text-align: center !important;
  }
}

.event {
  position: relative;
}

.event__image {
  top: 0;
  overflow: auto;
  padding-top: 0;
}

.event__content {
  padding-top: 0;
}

.event__content h1.title {
  margin-bottom: 20px;
  display: block;
}

.event__content .description {
  display: block;
  max-width: 100%;
  white-space: pre-wrap;
}

.event__content .address {
  width: 100%;
  display: block;
}

.event__content__metadata {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.event__content__metadata__element {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
  border: 1px solid #000;
  border-right: 0;
}

.event__content__metadata__element:last-of-type {
  border-right: 1px solid #000;
}

.event__content__age {
  margin-top: 20px;
}

.event__content__footer {
  margin-top: 20px;
}

.event__content__footer .message-body {
  border-radius: 0;
  border-color: #0b122f;
  color: #0b122f;
}

.event__content__footer .message-body p {
  margin-bottom: 15px;
}

.event__content__footer .message-body p:last-of-type {
  margin-bottom: 0;
}

.event__content__cta {
  margin: 20px 0 0;
}

.event__content__cta__shop {
  margin-bottom: 20px;
}

.event__content__cta__shop a {
  width: 100%;
  display: block;
}

.event__content__cta__grid {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 410px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.event__content__cta__grid > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.event__content__cta__grid > span svg {
  margin-right: 2px;
}

.section__container {
  margin-top: 20px;
}

.button.is-primary {
  background-color: #ffe200;
}

.hero-body {
  position: relative;
  background: #ffe200;
}

.hero-body a {
  color: #FFF;
}

.hero-body .container h1 {
  font-size: 4rem;
}

.hero-body .container h1, .hero-body .container h2, .hero-body .container p {
  color: #0b122f !important;
}

.hero-body .create_new {
  top: 0;
  right: 0;
  position: absolute;
}

.hero-body .create_new span {
  margin-right: 7px;
}

@media (max-width: 768px) {
  .hero-body .create_new {
    position: static;
    margin-top: 10px;
  }
}

.datepicker .vue-input {
  -webkit-appearance: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(.375em - 1px);
  padding-left: calc(.625em - 1px);
  padding-right: calc(.625em - 1px);
  padding-top: calc(.375em - 1px);
  position: relative;
  vertical-align: top;
  background-color: #fff;
  border-color: #dbdbdb;
  border-radius: 4px;
  color: #363636;
  -webkit-box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
          box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  max-width: 100%;
  width: 100%;
}

.address_suggestions {
  padding-top: 5px;
}

.address_suggestions li {
  cursor: pointer;
}

.address_suggestions li:nth-of-type(2n) {
  background-color: #f5f5f5;
}

.address_suggestions li span {
  background: #ffe200;
}
/*# sourceMappingURL=main.css.map */